In [1]:
from fastai.imports import *
from fastai.structured import *

from pandas_summary import DataFrameSummary
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from IPython.display import display

from sklearn import metrics
import lightgbm as lgb
from sklearn.model_selection import KFold
from sklearn import preprocessing, model_selection, metrics
import re

In [1]:
PATH = ""

In [2]:
!ls {PATH}

flight_fee_lgbm.ipynb  Sample_submission.xlsx  train.xlsx
flight_fee_rf.ipynb    test.xlsx

In [5]:

def display_all(df):
    with pd.option_context("display.max_rows", 1000, "display.max_columns", 1000): 
        display(df)

In [6]:
raw = pd.read_excel(f'{PATH}train.xlsx', parse_dates=["Date_of_Journey","Dep_Time","Arrival_Time","Duration"],encoding="utf-8")

In [523]:
test = pd.read_excel(f'{PATH}test.xlsx', parse_dates=["Date_of_Journey","Dep_Time","Arrival_Time","Duration"],encoding="utf-8")

In [73]:
test.shape,raw.shape

((2671, 10), (10683, 11))

In [74]:
test.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
dtype: int64

In [75]:
raw.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [11]:
#Almost No Null values WOW!

In [197]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
Airline            10683 non-null object
Date_of_Journey    10683 non-null datetime64[ns]
Source             10683 non-null object
Destination        10683 non-null object
Route              10682 non-null object
Dep_Time           10683 non-null datetime64[ns]
Arrival_Time       10683 non-null datetime64[ns]
Duration           10683 non-null object
Total_Stops        10682 non-null object
Additional_Info    10683 non-null object
Price              10683 non-null int64
dtypes: datetime64[ns](3), int64(1), object(7)
memory usage: 918.1+ KB

In [198]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2671 entries, 0 to 2670
Data columns (total 10 columns):
Airline            2671 non-null object
Date_of_Journey    2671 non-null datetime64[ns]
Source             2671 non-null object
Destination        2671 non-null object
Route              2671 non-null object
Dep_Time           2671 non-null datetime64[ns]
Arrival_Time       2671 non-null datetime64[ns]
Duration           2671 non-null object
Total_Stops        2671 non-null object
Additional_Info    2671 non-null object
dtypes: datetime64[ns](3), object(7)
memory usage: 208.8+ KB

In [375]:
raw.head(3)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,2019-03-13 22:20:00,2019-03-22 01:10:00,2h 50m,non-stop,No info,3897
1,Air India,2019-01-05,Kolkata,Banglore,CCU → IXR → BBI → BLR,2019-03-13 05:50:00,2019-03-13 13:15:00,7h 25m,2 stops,No info,7662
2,Jet Airways,2019-09-06,Delhi,Cochin,DEL → LKO → BOM → COK,2019-03-13 09:25:00,2019-06-10 04:25:00,19h,2 stops,No info,13882

In [213]:
#Keeping an eye for outrageous outliers!

In [376]:
raw.describe(include='all')

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
count,10683,10683,10683,10683,10682,10683,10683,10683,10682,10683,10683.000000
unique,12,40,5,6,128,222,1316,368,5,10,NaN
top,Jet Airways,2019-05-18 00:00:00,Delhi,Cochin,DEL → BOM → COK,2019-03-13 18:55:00,2019-03-13 19:00:00,2h 50m,1 stop,No info,NaN
freq,3849,504,4537,4537,2376,233,423,550,5625,8345,NaN
first,NaN,2019-01-03 00:00:00,NaN,NaN,NaN,2019-03-13 00:20:00,2019-03-02 00:05:00,NaN,NaN,NaN,NaN
last,NaN,2019-12-06 00:00:00,NaN,NaN,NaN,2019-03-13 23:55:00,2019-06-29 04:25:00,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9087.064121
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4611.359167
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1759.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5277.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8372.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12373.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79512.000000

In [377]:
test.describe(include='all')

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
count,2671,2671,2671,2671,2671,2671,2671,2671,2671,2671
unique,11,40,5,6,100,199,690,320,5,6
top,Jet Airways,2019-09-05 00:00:00,Delhi,Cochin,DEL → BOM → COK,2019-03-13 10:00:00,2019-03-13 19:00:00,2h 50m,1 stop,No info
freq,897,144,1145,1145,624,62,113,122,1431,2148
first,NaN,2019-01-03 00:00:00,NaN,NaN,NaN,2019-03-13 00:25:00,2019-03-02 00:25:00,NaN,NaN,NaN
last,NaN,2019-12-06 00:00:00,NaN,NaN,NaN,2019-03-13 23:55:00,2019-06-29 04:25:00,NaN,NaN,NaN

In [289]:
#It seems we found an outlier, in duration time =5 mins!

In [380]:
import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls

In [381]:
train = raw.copy()

In [81]:
def plot_cat(col,bars_only=False,top_n=10):
    top_n = top_n if train[col].nunique() > top_n else train[col].nunique()
    #This means if the unique entries in a column is greater than 10, keep their value as 10 otherwise, if its smaller than 10
    #than use that specific value less than 10! e.g in case of hasDetection it will be 2
    print(f"{col} has {train[col].nunique()} unique values and type: {train[col].dtype}.")
    print(train[col].value_counts(normalize=True, dropna=False).head())
    if not bars_only:
        df = train.groupby([col]).agg({'Price': ['count', 'mean']})
    #Will return a df, with 2 columns, 1 count of that specific category ,2) Mean value for detection rate 
        df = df.sort_values(('Price', 'count'), ascending=False).head(top_n).sort_index()
    #Use to keep index order in check
        data = [go.Bar(x=df.index, y=df['Price']['count'].values, name='counts'),
                    go.Scatter(x=df.index, y=df['Price']['mean'], name='Avg Price', yaxis='y2')]
        #Bars containing combined total of has_detection & noDetection, whereas scatter represent mean of target value

        layout = go.Layout(dict(title = f"Counts of {col} by top-{top_n} categories and mean target value",
                                xaxis = dict(title = f'{col}',
                                             showgrid=False,
                                             zeroline=False,
                                             showline=False,),
                                yaxis = dict(title = 'Counts',
                                             showgrid=False,
                                             zeroline=False,
                                             showline=False,),
                                yaxis2=dict(title='Avg Price', overlaying='y', side='right')),
                           legend=dict(orientation="v"))
        
    else:
            top_cat = list(train[col].value_counts(dropna=False).index[:top_n])
            #This will fetch the index for that unique entries
            df0 = train.loc[(train[col].isin(top_cat)) & (train['Price'] == 1), col].value_counts().head(10).sort_index()
                    #Make sure that column index present & fetch entries when has_Detect==1,  column_We_inspecting
            df1 = train.loc[(train[col].isin(top_cat)) & (train['Price'] == 0), col].value_counts().head(10).sort_index()
                    #Same for the case now, when no detection is found!
            data = [go.Bar(x=df0.index, y=df0.values, name='Has Detections'),
                    go.Bar(x=df1.index, y=df1.values, name='No Detections')]

            layout = go.Layout(dict(title = f"Counts of {col} by top-{top_n} categories",
                                xaxis = dict(title = f'{col}',
                                             showgrid=False,
                                             zeroline=False,
                                             showline=False,),
                                yaxis = dict(title = 'Counts',
                                             showgrid=False,
                                             zeroline=False,
                                             showline=False,),
                                ),
                           legend=dict(orientation="v"), barmode='group')
        
    py.iplot(dict(data=data, layout=layout))

In [82]:
plot_cat('Airline')

Airline has 12 unique values and type: object.
Jet Airways          0.360292
IndiGo               0.192174
Air India            0.163999
Multiple carriers    0.111954
SpiceJet             0.076570
Name: Airline, dtype: float64

In [83]:
plot_cat('Source')

Source has 5 unique values and type: object.
Delhi       0.424693
Kolkata     0.268745
Banglore    0.205654
Mumbai      0.065244
Chennai     0.035664
Name: Source, dtype: float64

In [28]:
plot_cat('Destination')

Destination has 6 unique values and type: object.
Cochin       0.424693
Banglore     0.268745
Delhi        0.118412
New Delhi    0.087241
Hyderabad    0.065244
Name: Destination, dtype: float64

In [356]:
plot_cat('Additional_Info')

Additional_Info has 10 unique values and type: object.
No info                         0.781148
In-flight meal not included     0.185528
No check-in baggage included    0.029954
1 Long layover                  0.001779
Change airports                 0.000655
Name: Additional_Info, dtype: float64

In [ ]:
#Figuring out with Data Transformations here!

In [382]:
raw.Airline.value_counts()

Jet Airways                          3849
IndiGo                               2053
Air India                            1752
Multiple carriers                    1196
SpiceJet                              818
Vistara                               479
Air Asia                              319
GoAir                                 194
Multiple carriers Premium economy      13
Jet Airways Business                    6
Vistara Premium economy                 3
Trujet                                  1
Name: Airline, dtype: int64

In [383]:
raw.Source.value_counts()

Delhi       4537
Kolkata     2871
Banglore    2197
Mumbai       697
Chennai      381
Name: Source, dtype: int64

In [384]:
raw.Destination.value_counts()

Cochin       4537
Banglore     2871
Delhi        1265
New Delhi     932
Hyderabad     697
Kolkata       381
Name: Destination, dtype: int64

In [385]:
raw.Route.value_counts().head(10) 
#This is a tricky one now,skip this in initial stages, since Total_Stops is telling us the same thing!
#Value _counts is 128!

DEL → BOM → COK          2376
BLR → DEL                1552
CCU → BOM → BLR           979
CCU → BLR                 724
BOM → HYD                 621
CCU → DEL → BLR           565
BLR → BOM → DEL           402
MAA → CCU                 381
DEL → HYD → COK           326
DEL → JAI → BOM → COK     240
Name: Route, dtype: int64

In [387]:
raw.Additional_Info.value_counts()

No info                         8345
In-flight meal not included     1982
No check-in baggage included     320
1 Long layover                    19
Change airports                    7
Business class                     4
No Info                            3
2 Long layover                     1
Red-eye flight                     1
1 Short layover                    1
Name: Additional_Info, dtype: int64

In [24]:
#Dealing, with departure, arrival by making session bins!

In [388]:
 raw.Total_Stops.value_counts()

1 stop      5625
non-stop    3491
2 stops     1520
3 stops       45
4 stops        1
Name: Total_Stops, dtype: int64

In [389]:
display_all(raw.head())

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,2019-03-13 22:20:00,2019-03-22 01:10:00,2h 50m,non-stop,No info,3897
1,Air India,2019-01-05,Kolkata,Banglore,CCU → IXR → BBI → BLR,2019-03-13 05:50:00,2019-03-13 13:15:00,7h 25m,2 stops,No info,7662
2,Jet Airways,2019-09-06,Delhi,Cochin,DEL → LKO → BOM → COK,2019-03-13 09:25:00,2019-06-10 04:25:00,19h,2 stops,No info,13882
3,IndiGo,2019-12-05,Kolkata,Banglore,CCU → NAG → BLR,2019-03-13 18:05:00,2019-03-13 23:30:00,5h 25m,1 stop,No info,6218
4,IndiGo,2019-01-03,Banglore,New Delhi,BLR → NAG → DEL,2019-03-13 16:50:00,2019-03-13 21:35:00,4h 45m,1 stop,No info,13302

# Data Cleaning

In [ ]:
#For training

In [525]:
raw['Duration_Minutes'] = pd.to_timedelta(raw['Duration'])

In [526]:
raw['Duration_Minutes'].dtype

dtype('<m8[ns]')

In [527]:
raw.Duration_Minutes;

In [528]:
raw['Dur_In_Minutes'] = raw['Duration_Minutes'].astype('timedelta64[m]')

In [ ]:
#For test

In [529]:
test['Duration_Minutes'] = pd.to_timedelta(test['Duration'])

In [530]:
test.Duration_Minutes;

In [531]:
test['Dur_In_Minutes'] = test['Duration_Minutes'].astype('timedelta64[m]')

In [397]:
raw.head(3)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Duration_Minutes,Dur_In_Minutes
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,2019-03-13 22:20:00,2019-03-22 01:10:00,2h 50m,non-stop,No info,3897,02:50:00,170.0
1,Air India,2019-01-05,Kolkata,Banglore,CCU → IXR → BBI → BLR,2019-03-13 05:50:00,2019-03-13 13:15:00,7h 25m,2 stops,No info,7662,07:25:00,445.0
2,Jet Airways,2019-09-06,Delhi,Cochin,DEL → LKO → BOM → COK,2019-03-13 09:25:00,2019-06-10 04:25:00,19h,2 stops,No info,13882,19:00:00,1140.0

In [398]:
test.head(3)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Duration_Minutes,Dur_In_Minutes
0,Jet Airways,2019-06-06,Delhi,Cochin,DEL → BOM → COK,2019-03-13 17:30:00,2019-06-07 04:25:00,10h 55m,1 stop,No info,10:55:00,655.0
1,IndiGo,2019-12-05,Kolkata,Banglore,CCU → MAA → BLR,2019-03-13 06:20:00,2019-03-13 10:20:00,4h,1 stop,No info,04:00:00,240.0
2,Jet Airways,2019-05-21,Delhi,Cochin,DEL → BOM → COK,2019-03-13 19:15:00,2019-05-22 19:00:00,23h 45m,1 stop,In-flight meal not included,23:45:00,1425.0

In [ ]:
#Dealing with the 5min outlier that we found out earlier!

In [399]:
raw[raw['Dur_In_Minutes'] < 30]

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Duration_Minutes,Dur_In_Minutes
6474,Air India,2019-06-03,Mumbai,Hyderabad,BOM → GOI → PNQ → HYD,2019-03-13 16:50:00,2019-03-13 16:55:00,5m,2 stops,No info,17327,00:05:00,5.0

In [400]:
test[test['Dur_In_Minutes'] < 30]

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Duration_Minutes,Dur_In_Minutes
2660,Air India,2019-12-03,Mumbai,Hyderabad,BOM → GOI → PNQ → HYD,2019-03-13 16:50:00,2019-03-13 16:55:00,5m,2 stops,No info,00:05:00,5.0

In [532]:
raw.Dur_In_Minutes.median()

520.0

In [533]:
raw.at[6474, 'Dur_In_Minutes'] = raw.Dur_In_Minutes.median()

In [534]:
raw[raw['Dur_In_Minutes'] < 30] #Done!

Empty DataFrame
Columns: [Airline, Date_of_Journey, Source, Destination, Route, Dep_Time, Arrival_Time, Duration, Total_Stops, Additional_Info, Price, Duration_Minutes, Dur_In_Minutes]
Index: []

In [234]:
#Same for test data!

In [535]:
test.Dur_In_Minutes.median()

520.0

In [536]:
test.at[2660, 'Dur_In_Minutes'] = test.Dur_In_Minutes.median()

In [537]:
test[test['Dur_In_Minutes'] < 30]

Empty DataFrame
Columns: [Airline, Date_of_Journey, Source, Destination, Route, Dep_Time, Arrival_Time, Duration, Total_Stops, Additional_Info, Duration_Minutes, Dur_In_Minutes]
Index: []

In [127]:
#Dealing with arrival and departure times!

In [538]:
raw['session_dep'] = pd.cut(raw.Dep_Time.dt.hour,[0,6,12,18,24],labels=['Night','Morning','Afternoon','Evening']);

In [539]:
raw['session_arr'] = pd.cut(raw.Arrival_Time.dt.hour,[0,6,12,18,24],labels=['Night','Morning','Afternoon','Evening']);

In [ ]:
#For Test

In [540]:
test['session_dep'] = pd.cut(test.Dep_Time.dt.hour,[0,6,12,18,24],labels=['Night','Morning','Afternoon','Evening']);

In [541]:
test['session_arr'] = pd.cut(test.Arrival_Time.dt.hour,[0,6,12,18,24],labels=['Night','Morning','Afternoon','Evening']);

In [25]:
raw.head(3)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Duration_Minutes,Dur_In_Minutes,session_dep,session_arr
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,2019-03-13 22:20:00,2019-03-22 01:10:00,2h 50m,non-stop,No info,3897,02:50:00,170.0,Evening,Night
1,Air India,2019-01-05,Kolkata,Banglore,CCU → IXR → BBI → BLR,2019-03-13 05:50:00,2019-03-13 13:15:00,7h 25m,2 stops,No info,7662,07:25:00,445.0,Night,Afternoon
2,Jet Airways,2019-09-06,Delhi,Cochin,DEL → LKO → BOM → COK,2019-03-13 09:25:00,2019-06-10 04:25:00,19h,2 stops,No info,13882,19:00:00,1140.0,Morning,Night

In [26]:
test.head(3)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Duration_Minutes,Dur_In_Minutes,session_dep,session_arr
0,Jet Airways,2019-06-06,Delhi,Cochin,DEL → BOM → COK,2019-03-13 17:30:00,2019-06-07 04:25:00,10h 55m,1 stop,No info,10:55:00,655.0,Afternoon,Night
1,IndiGo,2019-12-05,Kolkata,Banglore,CCU → MAA → BLR,2019-03-13 06:20:00,2019-03-13 10:20:00,4h,1 stop,No info,04:00:00,240.0,Night,Morning
2,Jet Airways,2019-05-21,Delhi,Cochin,DEL → BOM → COK,2019-03-13 19:15:00,2019-05-22 19:00:00,23h 45m,1 stop,In-flight meal not included,23:45:00,1425.0,Evening,Evening

In [1]:
#Remove the unecessary columns!

In [309]:
raw.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price', 'Duration_Minutes', 'Dur_In_Minutes',
       'session_dep', 'session_arr'],
      dtype='object')

In [542]:
df_raw = raw[['Airline', 'Date_of_Journey', 'Source', 'Destination','Total_Stops',
                 'Additional_Info','Dur_In_Minutes','session_dep', 'session_arr', 'Route']]

In [412]:
df_raw.head(2)

,Airline,Date_of_Journey,Source,Destination,Total_Stops,Additional_Info,Dur_In_Minutes,session_dep,session_arr,Route
0,IndiGo,2019-03-24,Banglore,New Delhi,non-stop,No info,170.0,Evening,Night,BLR → DEL
1,Air India,2019-01-05,Kolkata,Banglore,2 stops,No info,445.0,Night,Afternoon,CCU → IXR → BBI → BLR

In [187]:
#Dealing with Date_Of_Journey!

In [543]:
add_datepart(df_raw, 'Date_of_Journey');

/home/arsim/fastai/courses/ml1/fastai/structured.py:118: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [414]:
df_raw.shape

(10683, 22)

In [415]:
df_raw;

In [544]:
df_raw['Price'] = raw.Price

In [417]:
display_all(df_raw.head(3))

,Airline,Source,Destination,Total_Stops,Additional_Info,Dur_In_Minutes,session_dep,session_arr,Route,Date_of_JourneyYear,Date_of_JourneyMonth,Date_of_JourneyWeek,Date_of_JourneyDay,Date_of_JourneyDayofweek,Date_of_JourneyDayofyear,Date_of_JourneyIs_month_end,Date_of_JourneyIs_month_start,Date_of_JourneyIs_quarter_end,Date_of_JourneyIs_quarter_start,Date_of_JourneyIs_year_end,Date_of_JourneyIs_year_start,Date_of_JourneyElapsed,Price
0,IndiGo,Banglore,New Delhi,non-stop,No info,170.0,Evening,Night,BLR → DEL,2019,3,12,24,6,83,False,False,False,False,False,False,1553385600,3897
1,Air India,Kolkata,Banglore,2 stops,No info,445.0,Night,Afternoon,CCU → IXR → BBI → BLR,2019,1,1,5,5,5,False,False,False,False,False,False,1546646400,7662
2,Jet Airways,Delhi,Cochin,2 stops,No info,1140.0,Morning,Night,DEL → LKO → BOM → COK,2019,9,36,6,4,249,False,False,False,False,False,False,1567728000,13882

In [ ]:
#Similarly for test data-set!

In [545]:
test = test[['Airline', 'Date_of_Journey', 'Source', 'Destination','Total_Stops',
                 'Additional_Info','Dur_In_Minutes','session_dep', 'session_arr','Route']]

In [546]:
test.head(2)

,Airline,Date_of_Journey,Source,Destination,Total_Stops,Additional_Info,Dur_In_Minutes,session_dep,session_arr,Route
0,Jet Airways,2019-06-06,Delhi,Cochin,1 stop,No info,655.0,Afternoon,Night,DEL → BOM → COK
1,IndiGo,2019-12-05,Kolkata,Banglore,1 stop,No info,240.0,Night,Morning,CCU → MAA → BLR

In [547]:
add_datepart(test, 'Date_of_Journey');

In [421]:
test.columns

Index(['Airline', 'Source', 'Destination', 'Total_Stops', 'Additional_Info',
       'Dur_In_Minutes', 'session_dep', 'session_arr', 'Route',
       'Date_of_JourneyYear', 'Date_of_JourneyMonth', 'Date_of_JourneyWeek',
       'Date_of_JourneyDay', 'Date_of_JourneyDayofweek',
       'Date_of_JourneyDayofyear', 'Date_of_JourneyIs_month_end',
       'Date_of_JourneyIs_month_start', 'Date_of_JourneyIs_quarter_end',
       'Date_of_JourneyIs_quarter_start', 'Date_of_JourneyIs_year_end',
       'Date_of_JourneyIs_year_start', 'Date_of_JourneyElapsed'],
      dtype='object')

In [422]:
df_raw.columns

Index(['Airline', 'Source', 'Destination', 'Total_Stops', 'Additional_Info',
       'Dur_In_Minutes', 'session_dep', 'session_arr', 'Route',
       'Date_of_JourneyYear', 'Date_of_JourneyMonth', 'Date_of_JourneyWeek',
       'Date_of_JourneyDay', 'Date_of_JourneyDayofweek',
       'Date_of_JourneyDayofyear', 'Date_of_JourneyIs_month_end',
       'Date_of_JourneyIs_month_start', 'Date_of_JourneyIs_quarter_end',
       'Date_of_JourneyIs_quarter_start', 'Date_of_JourneyIs_year_end',
       'Date_of_JourneyIs_year_start', 'Date_of_JourneyElapsed', 'Price'],
      dtype='object')

In [423]:
df_raw.shape

(10683, 23)

In [ ]:
#Clean the total stops

In [548]:
df_raw['Total_Stops'].fillna(df_raw['Total_Stops'].value_counts().index[0],inplace=True)

In [549]:
df_raw['Total_Stops'].value_counts()

1 stop      5626
non-stop    3491
2 stops     1520
3 stops       45
4 stops        1
Name: Total_Stops, dtype: int64

# Short-Hand Approach for a Quick Random Forest Implementation

In [550]:
os.makedirs('feather', exist_ok=True)
df_raw.to_feather('feather/flight_train_raw')

In [551]:
test.to_feather('feather/flight_test_raw')

In [608]:
df_raw = pd.read_feather('feather/flight_train_raw')
test = pd.read_feather('feather/flight_test_raw')

In [ ]:
#Applying Categorical ordering to both training and test datasets!

In [609]:
train_cats(df_raw)
apply_cats(df=test, trn=df_raw)

In [ ]:
#Converting Fee into log!

In [610]:
df_raw.Price = np.log(df_raw.Price)

In [55]:
#Removing the bad cols, after feature importance!

In [611]:
bad_cols = [
     'Date_of_JourneyYear', 'Date_of_JourneyWeek', 'Date_of_JourneyDayofweek',
       'Date_of_JourneyDayofyear', 'Date_of_JourneyIs_month_end',
       'Date_of_JourneyIs_month_start', 'Date_of_JourneyIs_quarter_end',
       'Date_of_JourneyIs_quarter_start', 'Date_of_JourneyIs_year_end',
       'Date_of_JourneyIs_year_start', 'Date_of_JourneyElapsed',
]

In [612]:
df_raw.drop(bad_cols,axis=1,inplace=True);

In [613]:
test.drop(bad_cols,axis=1,inplace=True);

In [588]:
df_raw.shape,test.shape

((10683, 12), (2671, 11))

In [559]:
df_raw.head(5)

,Airline,Source,Destination,Total_Stops,Additional_Info,Dur_In_Minutes,session_dep,session_arr,Route,Date_of_JourneyMonth,Date_of_JourneyDay,Price
0,IndiGo,Banglore,New Delhi,non-stop,No info,170.0,Evening,Night,BLR → DEL,3,24,8.267962
1,Air India,Kolkata,Banglore,2 stops,No info,445.0,Night,Afternoon,CCU → IXR → BBI → BLR,1,5,8.944028
2,Jet Airways,Delhi,Cochin,2 stops,No info,1140.0,Morning,Night,DEL → LKO → BOM → COK,9,6,9.538348
3,IndiGo,Kolkata,Banglore,1 stop,No info,325.0,Afternoon,Evening,CCU → NAG → BLR,12,5,8.735204
4,IndiGo,Banglore,New Delhi,1 stop,No info,285.0,Afternoon,Evening,BLR → NAG → DEL,1,3,9.495670

In [560]:
test.head(5)

,Airline,Source,Destination,Total_Stops,Additional_Info,Dur_In_Minutes,session_dep,session_arr,Route,Date_of_JourneyMonth,Date_of_JourneyDay
0,Jet Airways,Delhi,Cochin,1 stop,No info,655.0,Afternoon,Night,DEL → BOM → COK,6,6
1,IndiGo,Kolkata,Banglore,1 stop,No info,240.0,Night,Morning,CCU → MAA → BLR,12,5
2,Jet Airways,Delhi,Cochin,1 stop,In-flight meal not included,1425.0,Evening,Evening,DEL → BOM → COK,5,21
3,Multiple carriers,Delhi,Cochin,1 stop,No info,780.0,Morning,Evening,DEL → BOM → COK,5,21
4,Air Asia,Banglore,Delhi,non-stop,No info,170.0,Evening,Night,BLR → DEL,6,24

In [99]:
#Using proc_df of FAST-Ai

In [614]:
df, y , nas = proc_df(df_raw, 'Price')
test, _, nas = proc_df(test, na_dict=nas)
df, y , nas = proc_df(df_raw, 'Price', na_dict=nas)

In [463]:
df.head()

,Airline,Source,Destination,Total_Stops,Additional_Info,Dur_In_Minutes,session_dep,session_arr,Route,Date_of_JourneyMonth,Date_of_JourneyDay
0,4,1,6,5,9,170.0,4,1,19,3,24
1,2,4,1,2,9,445.0,1,3,85,1,5
2,5,3,2,2,9,1140.0,2,1,119,9,6
3,4,4,1,1,9,325.0,3,4,92,12,5
4,4,1,6,1,9,285.0,3,4,30,1,3

In [464]:
test.head()

,Airline,Source,Destination,Total_Stops,Additional_Info,Dur_In_Minutes,session_dep,session_arr,Route,Date_of_JourneyMonth,Date_of_JourneyDay
0,5,3,2,1,9,655.0,3,1,105,6,6
1,4,4,1,1,9,240.0,1,2,91,12,5
2,5,3,2,1,6,1425.0,4,4,105,5,21
3,7,3,2,1,9,780.0,2,4,105,5,21
4,1,1,3,5,9,170.0,4,1,19,6,24

In [56]:
#Remove Total_Stops and replace by Non-Stop! as they both are practically predicting same thing

In [496]:
df.shape,test.shape

((10683, 11), (2671, 11))

In [590]:
def rmse(x,y): return math.sqrt(((x-y)**2).mean())

def print_score(m):
    res = [rmse(m.predict(X_train), y_train), rmse(m.predict(X_valid), y_valid),
                m.score(X_train, y_train), m.score(X_valid, y_valid)]
    if hasattr(m, 'oob_score_'): res.append(m.oob_score_)
    print(res)

In [577]:

X_train.shape, y_train.shape, X_valid.shape, y_valid.shape

((8683, 11), (8683,), (2000, 11), (2000,))

In [ ]:
#Use sci-kit learns train-test split

In [591]:
y = pd.DataFrame(y, columns=['Price'])

In [563]:
#Make a hold out set
def split_vals(a,n): return a[:n].copy(), a[n:].copy()

n_valid = 2000  # same as Kaggle's test set size
n_trn = len(df)-n_valid
raw_train, raw_valid = split_vals(df_raw, n_trn)
X_train, X_valid = split_vals(df, n_trn)
y_train, y_valid = split_vals(y, n_trn)

X_train.shape, y_train.shape, X_valid.shape, y_valid.shape

((8683, 11), (8683,), (2000, 11), (2000,))

In [615]:
df.shape,test.shape,y.shape

((10683, 11), (2671, 11), (10683,))

In [631]:
from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(df, y, test_size = 0.2, random_state = 42)

In [632]:
X_train.shape, y_train.shape, X_valid.shape, y_valid.shape

((8546, 11), (8546,), (2137, 11), (2137,))

In [627]:
X_valid

array([10.06595,  9.42327,  8.62748, ...,  8.94507,  8.72323,  9.2362 ])

In [625]:
X_train.head()

,Airline,Source,Destination,Total_Stops,Additional_Info,Dur_In_Minutes,session_dep,session_arr,Route,Date_of_JourneyMonth,Date_of_JourneyDay
8990,5,5,4,2,9,605.0,1,3,59,12,3
3684,5,3,2,1,6,1505.0,2,2,105,9,5
1034,9,3,2,1,9,380.0,3,4,122,4,24
3909,7,3,2,1,9,765.0,2,1,105,3,21
3088,2,3,2,2,9,1560.0,3,4,111,6,24

In [648]:
#Training a Random-Forest with minimal effort
m = RandomForestRegressor(n_estimators=500, max_features=0.8, n_jobs=-1, oob_score=True)
%time m.fit(df, y)
print_score(m)

CPU times: user 13.4 s, sys: 108 ms, total: 13.5 s
Wall time: 4.14 s
[0.05627507244485087, 0.1316698845567889, 0.9879801203599313, 0.9345614366601949, 0.9363454183543459]

In [639]:
fi = rf_feat_importance(m, df);
fi

                    cols       imp
5         Dur_In_Minutes  0.494266
3            Total_Stops  0.142623
0                Airline  0.102341
10    Date_of_JourneyDay  0.088013
8                  Route  0.045397
4        Additional_Info  0.036588
9   Date_of_JourneyMonth  0.035444
7            session_arr  0.015918
6            session_dep  0.014868
2            Destination  0.013616
1                 Source  0.010925

In [640]:
bad_cols = fi[fi.imp<0.01].cols
bad_cols.tolist()

[]

In [641]:
pred_logs = m.predict(X_valid)
pred_logs

array([9.28929, 8.69733, 9.5911 , ..., 8.79626, 8.47258, 9.57648])

In [642]:
#All you have to do to inverse the log!
np.exp(pred_logs)

array([10821.46065,  5986.89571, 14633.90341, ...,  6609.49138,  4781.8595 , 14421.56104])

In [ ]:
#Time to make your first sumbission using RandomForest!

In [643]:
pred_logs = m.predict(test)
pred_logs

array([9.59971, 8.35165, 9.46474, ..., 9.67592, 9.51438, 8.94137])

In [644]:
preds = np.exp(pred_logs)
preds

array([14760.49102,  4237.1588 , 12896.9166 , ..., 15929.3165 , 13553.23917,  7641.65552])

In [645]:
pred_df_rf = pd.DataFrame(preds, columns = ['Price'])
pred_df_rf

             Price
0     14760.491022
1      4237.158797
2     12896.916595
3     12239.346789
4      3567.923244
5     10271.312086
6     12008.918128
7      5766.929399
8      4203.483289
9     14739.682987
10     8735.732661
11     6507.477841
12     9892.194265
13    12946.394073
14    10266.914417
15    16739.428954
16     8866.048913
17    11270.948630
18    10377.317487
19    12927.648516
20    14563.597016
21     9419.826065
22    11079.095276
23    12955.134702
24     4935.162386
25     6310.958151
26     5003.908706
27    16068.388627
28    10262.000000
29    13197.197473
...            ...
2641  12311.833980
2642  12892.066495
2643  11060.586841
2644  10735.213301
2645   9462.855878
2646  15637.384097
2647  13902.287927
2648   5529.595298
2649   3538.115180
2650  11772.675172
2651  12187.915647
2652  13804.472543
2653  10839.417911
2654  15826.085033
2655   7014.815872
2656   8843.502834
2657   7658.519726
2658  10262.000000
2659  13577.200494
2660  15270.053517
2661  10888.359023
2662   3144.905730
2663   6401.717931
2664   8432.160068
2665   1965.594975
2666  10217.457988
2667   4739.581680
2668  15929.316497
2669  13553.239166
2670   7641.655524

[2671 rows x 1 columns]

In [646]:
pred_df_rf.to_excel("abhi_route_raju_help_2.xlsx", index = False)